body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
}

input[type='checkbox'] {
  height: 0;
  width: 0;
}

.toggle {
  position: relative;
}
.switch {
  width: 70px;
  height: 30px;
  border-radius: 50px;
  padding: 5px;
  background-color: #605f5f;
  cursor: pointer;
}
.switch::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  transition: all .3s ease;
}
input:checked + .switch {
  background-color: #4242dd;
}
input:checked + .switch::before {
  transform: translateX(calc(70px - 30px));
}
